body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #b21e24;
  }

  h1 {
    margin: auto;
    text-align: left;
    padding-bottom: 20%;
    color: #FFECD1;
  
  }

  .question-mark {
    height: 60px;
    width: 60px;
    background: url(assets/question-mark.svg);
  }
